.header {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    top: 0;
    z-index: 1000;
  }
  
  .nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .homeLink {
    font-size: 1.3rem;

    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .homeLink:hover {
    color: #0070f3;
  }
  
  @media (max-width: 768px) {
    .nav {
      padding: 1rem;
    }
  }